body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.left {
    height: 980px;
    background-image: url("assets/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #19345E;
    background-blend-mode: overlay;
    background-size: cover;
    opacity: 0.7;
}

.logo {
    display: flex;
    margin: 400px auto;
    opacity: 0.8;
}

.form-label {
    font-weight: 500;
    color: #19345E;
    font-size: 25px;
}

.right {
    justify-content: center;
}

.right h1 {
    color: #19345E;
    margin: auto;
}

.form-select:focus {
    border-color: #f47522;
    box-shadow: 0 0 0 0.2rem rgba(244, 117, 34, 0.25);
}

.form-control:focus {
    border-color: #f47522;
    box-shadow: 0 0 0 0.2rem rgba(244, 117, 34, 0.25);
}

.btn-home {
    background-color: #F47522;
    color: white;
}

.btn-home:hover {
    background-color: white;
    color: #F47522;
    border: 2px solid #F47522;
}

span {
    color: tomato;
}